<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75360413469-doot3mm47f34s7abrg9sncae161rhtcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75360413469-doot3mm47f34s7abrg9sncae161rhtcr</string>
	<key>API_KEY</key>
	<string>AIzaSyDGswM3S3eh6EueerC2fBp3jNn-n9HAV7w</string>
	<key>GCM_SENDER_ID</key>
	<string>75360413469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.product.PlaySound</string>
	<key>PROJECT_ID</key>
	<string>playsound-18b92</string>
	<key>STORAGE_BUCKET</key>
	<string>playsound-18b92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75360413469:ios:39b24b3f6a3795a600e3f4</string>
</dict>
</plist>